%header
  %ul.heading_bar
    %li
      %logo
        %img(src="http://www.placekitten.com/100/30")
    %li
      Browse
    %li
      Create
    %li
      Upload
    %li
      %div.search
        %input
    %li
      Join/Sign In

%div.full_featured

%div.semi_featured
  %div.feature_box
  %div.feature_box
  %div.feature_box

%div.manufactured

%footer
  %logo
  %ul
    %li
      %ul
        %li.header
          About Us
        %li
    %li
      %ul
        %li
          Contact Us
    %li
      %ul
        %li
          Stuff
