%header
  The 3D-Marketplace
%main
  %h2
    Authors:
  %ul
    - ary = []
    - ary << {:name=>'Austin Walter', :role=>'Project Manager / Source Control / Developer'}
    - ary << {:name=>'James Krepelka', :role=>'Source Control Guy / Back-end Developer'}
    - ary << {:name=>'Dickens Leung', :role=>'QA Technician'}
    - ary << {:name=>'Yuqin Zhang', :role=>'Designer'}
    - ary << {:name=>'Siddharth Sridharan', :role=>'Front-end Dev / Designer'}
    - ary.each do |p|
      %li
        %span.name
          = p[:name]
        = ":"
        %span.role
          = p[:role]