%div.main
  %div.create_box
    = form_tag(action: "try_create",class: "create_user_form") do
      %div.heading
        Create a User
      %div.error
        - if cookies[:error].present?
          = cookies[:error]
          - cookies[:error] = nil
      %div.content
        %div.content_row
          %div.content_value
            %input.email{:type =>"email", :name =>"email", :placeholder =>"email"}
        %div.content_row
          %div.content_value
            %input.username{:type =>"text", :name =>"username", :placeholder =>"username"}
        %div.content_row
          %div.content_value
            %input.password{:type =>"password", :name =>"password",:placeholder =>"password"}
        %div.content_row
          %div.content_value
            %input.password{:type =>"password", :name =>"conf_password",:placeholder =>"confirm_password"}
      %div.buttons
        %input{"type"=>"submit", "value"=>"Create!"}
