.container
  .col-md-4.col-md-push-4
    = form_tag(action: "try_create") do
      %h2
        Create a User
      - if cookies[:error].present?
        %div.error.alert.alert-danger
          = cookies[:error]
          - cookies[:error] = nil
      .form-group
        %input.form-control.email{:type =>"email", :name =>"email", :placeholder =>"email"}
      .form-group
        %input.form-control.username{:type =>"text", :name =>"username", :placeholder =>"username"}
      .form-group
        %input.form-control.password{:type =>"password", :name =>"password",:placeholder =>"password"}
      .form-group
        %input.form-control.password{:type =>"password", :name =>"conf_password",:placeholder =>"confirm_password"}
      .form-group
        %input.form-control.btn.btn-primary{ :type =>"submit", :value =>"Create!"}
