.container
  %h1
    My Library
  .row
    - @bookmarks.in_groups_of(6, false).each_with_index do |group|
      .row
        - group.each do |item|
          - design = item.design
          - if item.design
            .col-md-2
              .thumbnail
                %a{:href => design_path(design.id)}
                  %img{:src => design.imagefilepath}
                .caption
                  %h2
                    %a{:href => design_path(design.id)}
                      = design.title
                  %p
                    = design.sdesc
                  .row
                    %a.col-md-8.col-md-push-2.btn.btn-primary.btn-sm{:href => design_path(design.id)}
                      View details
