%div.main
  %div.content
    =@user.username
    %div.content_row
      =gravatar_for @user
    %div.content_row
      %li
        Info
    %div.content_row
      %li
        Settings
    %div.content_row
      %li 
        Licenses
