.container
<<<<<<< HEAD
  .designs
    - @designs.each do |design|
      .design
        .picture
          %img{:src => design.imagefilepath}
        .name
          %h4
            %a{:href => design_path(design.id)}
              = design.title

  .userBar
    %h2
      test
=======
  .row
    - @designs.each do |design|
      .col-md-4
        .thumbnail
          %img{:src => design.imagefilepath}
          .caption
            %h2
              %a{:href => design_path(design.id)}
                = design.title
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt maxime ducimus repudiandae molestias, quibusdam nostrum cumque minima numquam, eos quod aspernatur vel veritatis corrupti, recusandae beatae! Enim, magni, debitis.
            %a.btn.btn-primary.btn-sm{:href => ""}
              Purchase
            %a.btn.btn-default.btn-sm{:href => design_path(design.id)}
              Learn more
  .row
    %h2
      = @view_user.username
>>>>>>> e966eab4aa0b0e79ea70939a5bbe5fe1195c3e0b
    %img{:src => "imgs/1.jpg"}
    .print
      %ul
        %input{:type => "button", :value => "Info"}
        %select.settings
          %option{:value => "1"} Settings
<<<<<<< HEAD
          %option{:value => "2"} Settings2
          %option{:value => "3"} Settings3
=======
          = succeed "Settings3" do
            %option{:value => "2"} Settings2
>>>>>>> e966eab4aa0b0e79ea70939a5bbe5fe1195c3e0b
        %input{:type => "button", :value => "Licenses"}
