.container
  .col-md-3
    %h2
      = @view_user.username
    .form-group
      %img{:src => "/assets/user.png"}
    .print.form-group
      .form-group
        %input.btn.btn-default{:type => "button", :value => "Info"}
        %input.btn.btn-default{:type => "button", :value => "Licenses"}
      .form-group
        %select.form-control.settings
          %option{:value => "1"} Settings
          = succeed "Settings3" do
            %option{:value => "2"} Settings2
  .col-md-9
    - @designs.in_groups_of(3, false).each_with_index do |group|
      .row
        - group.each do |item|
          .col-md-4
            .thumbnail
              %a{:href => design_path(item.id)}
                %img{:src => item.imagefilepath}
              .caption
                %h2
                  %a{:href => design_path(item.id)}
                    = item.title
                %p
                  = item.sdesc
                %a.btn.btn-primary.btn-sm{:href => ""}
                  Purchase
                %a.btn.btn-default.btn-sm{:href => design_path(item.id)}
                  Learn more

