.container
  .designs
    - @designs.each do |design|
      .design
        .picture
          %img{:src => design.imagefilepath}
        .name
          %h4
            %a{:href => design_path(design.id)}
              = design.title

  .userBar
    %h2
      test
    %img{:src => "imgs/1.jpg"}/
    .print
      %ul
        %input{:type => "button", :value => "Info"}/
        %select.settings
          %option{:value => "1"} Settings
          %option{:value => "2"} Settings2
          %option{:value => "3"} Settings3
        %input{:type => "button", :value => "Licenses"}/




  
