.container
  .row
    - @designs.each do |design|
      .col-md-4
        .thumbnail
          %a{:href => design_path(design.id)}
            %img{:src => design.imagefilepath}
          .caption
            %h2
              %a{:href => design_path(design.id)}
                = design.title
            %p
            %a.btn.btn-primary.btn-sm{:href => ""}
              Purchase
            %a.btn.btn-default.btn-sm{:href => design_path(design.id)}
              Learn more
  .row
    %h2
      = @view_user.username
    %img{:src => "/assets/user.png"}
    .print
      %ul
        %input{:type => "button", :value => "Info"}
        %select.settings
          %option{:value => "1"} Settings
          = succeed "Settings3" do
            %option{:value => "2"} Settings2
        %input{:type => "button", :value => "Licenses"}
