/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
<<<<<<< HEAD
=======
 *= require "../components/bootstrap/dist/css/bootstrap.min.css"
>>>>>>> e966eab4aa0b0e79ea70939a5bbe5fe1195c3e0b
 */
 
*
  margin: 0
  padding: 0

html, body
  height: 100%
  
#page_wrapper
  min-height: 100%
  position: relative

<<<<<<< HEAD
=======
.main-content
  padding-top: 70px

>>>>>>> e966eab4aa0b0e79ea70939a5bbe5fe1195c3e0b
ul
  list-style: none

a
  text-decoration: none

.clear
  clear: both
<<<<<<< HEAD
  
.heading_bar
  width: 100%
  min-width: 1200px
  height: 48px
  background: #CCCCCC
  padding: 2px
  h1
    font-size: 48px
    float: left
  ul
    float: left
    margin: 15px 0 0 30px
    li
      float: left
      margin-left: 80px
  a
    color: #003371
    font-weight: bold
    &:hover
      color: #c30
  .search, .signin
    float: right
    margin: 15px 20px 0px 30px
    display: inline-block

.container
  width: 1024px
  margin: 0 auto
  
.content
  width: 1024px
  height: 600px
  border: gray 1px solid
  .page_title
    text-align: center
    padding-top: 20px
  h2, img
    float: left
    margin: 30px 0 0 30%
  h2
    font-size: 30px
    font-weight: 900
    color: #191970
  img
    width: 300px
    height: 300px
    border: gray 1px solid
  input[type=button]
    width: 110px
    height: 30px
    padding-left: 15px
    margin-left: 50px
    background: #B0E0E6
    color: #003371
    font-weight: bold
    
.footer
  
  bottom: 0
  width: 100%
  height: 300px
  background: #333333
  text-align: center
  img
    margin: 20px auto 0 auto
    width: 100px
    height: 100px
    border: gray 1px solid
  h3
    font-size: 30px
    font-weight: 900
    color: black
  .links
    display: inline-block
    ul
      float: left
      margin: 20px 75px 0 75px
      li a
        color: white
        &:hover
          color: #c30
      .sectionTitle
        color: gray
=======

.heading_bar
  list-style-type: none
  margin: 0
  padding: 5px
  background-color: rgb(204,204,204)
  color: rgb(7,55,99)
  li
    display: inline
    
    .logo
      width: 150px
      height: 30px
    
    .search
      display: inline-block
      input
        width: 100px

footer
  width: 100%
  height: 70px
  padding: 5px
  position: absolute
  bottom: 0
  left: 0
  text-align: center
  background-color: rgb(204,204,204)
  color: rgb(7,55,99)
  ul
    list-style-type: none
    display: inline
    li
      display: inline
  .logo
    width: 150px
    height: 30px
>>>>>>> e966eab4aa0b0e79ea70939a5bbe5fe1195c3e0b
