.content
  .clear
  .usedesign
    %img{:src => "imgs/1.jpg"}/
    %h2 Library
    .print
      %ul
        %li
          %input{:type => "button", :value => "Print"}/
        %select.settings
          %li
            %option{:value => "1"} Settings
          %li
          %li
            %option{:value => "2"} Settings2
          %li
            %option{:value => "3"} Settings3
        %li
          %input{:type => "button", :value => "License"}/
    %h3 Design1
  .design_container
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design1
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design2
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design3
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design4
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design5
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design6
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design1
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design2
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design3
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design4
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design5
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design6
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design1
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design2
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design3
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design4
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design5
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design6
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design1
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design2
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design3
