<<<<<<< HEAD
.content
  .clear
  .usedesign
    %img{:src => "imgs/1.jpg"}/
    %h2 Library
    .print
      %ul
        %li
          %input{:type => "button", :value => "Print"}/
        %select.settings
          %li
            %option{:value => "1"} Settings
          %li
          %li
            %option{:value => "2"} Settings2
          %li
            %option{:value => "3"} Settings3
        %li
          %input{:type => "button", :value => "License"}/
    %h3 Design1
  .design_container
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design1
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design2
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design3
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design4
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design5
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design6
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design1
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design2
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design3
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design4
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design5
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design6
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design1
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design2
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design3
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design4
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design5
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design6
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design1
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design2
    .design
      .picture
        %img{:src => "imgs/2.jpg"}/
      .name
        %h4
          %a{:href => ""} Design3
=======
.container
  %h1
    Library
  .row
    - @designs.each do |design|
      .col-md-4
        .thumbnail
          %img{:src => design.imagefilepath}
          .caption
            %h2
              %a{:href => design_path(design.id)}
                = design.title
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt maxime ducimus repudiandae molestias, quibusdam nostrum cumque minima numquam, eos quod aspernatur vel veritatis corrupti, recusandae beatae! Enim, magni, debitis.
            %a.btn.btn-primary.btn-sm{:href => ""}
              Purchase
            %a.btn.btn-default.btn-sm{:href => design_path(design.id)}
              Learn more 
>>>>>>> e966eab4aa0b0e79ea70939a5bbe5fe1195c3e0b
