.container
  .headerContainer
    .header
      %h1 3DEx
      %ul
        %li
          %a{:href => ""} Browse
        %li
          %a{:href => ""} Create
        %li
          %a{:href => ""} Upload
      %span.signin
        %a{:href => ""} Join
        \/
        %a{:href => ""} Sign in
      %span.search
        %button search
        %input{:type => "text"}/
  .content
    %h2 Design1
    .clear
    %img{:src => "imgs/1.jpg"}/
    %select.controls
      %option{:value => "1"} Controls
      %option{:value => "2"} Controls2
      %option{:value => "3"} Controls3
    .clear
    .print
      %input{:type => "button", :value => "Print"}/
      %select.settings
        %option{:value => "1"} Settings
        %option{:value => "2"} Settings2
        %option{:value => "3"} Settings3
      %input{:type => "button", :value => "Download"}/
      %input{:type => "button", :value => "License"}/
  .footer
    %img{:src => "imgs/2.jpg"}/
    .clear
    %h3 3DEx
    %ul
      %li
        %a.sectionTitle{:href => ""} About us
      %li
        %a{:href => ""} Blah Blah Blah
      %li
        %a{:href => ""} Blah Blah
    %ul
      %li
        %a.sectionTitle{:href => ""} Contact us
      %li
        %a{:href => ""} Blah Blah Blah
      %li
        %a{:href => ""} Blah Blah
    %ul
      %li
        %a.sectionTitle{:href => ""} Stuff
      %li
        %a{:href => ""} Blah Blah Blah
      %li
        %a{:href => ""} Blah Blah
