.content
  %h2 Design1
  .clear
  %img{:src => "imgs/1.jpg"}/
  %select.controls
    %option{:value => "1"} Controls
    %option{:value => "2"} Controls2
    %option{:value => "3"} Controls3
  .clear
  .print
    %input{:type => "button", :value => "Print"}/
    %select.settings
      %option{:value => "1"} Settings
      %option{:value => "2"} Settings2
      %option{:value => "3"} Settings3
    %input{:type => "button", :value => "Download"}/
    %input{:type => "button", :value => "License"}/
