.container
  %h2
    = @design.title
  .row
    .col-md-6.col-md-push-3
      .design-image.stl-scene{:file_path => @design.filepath}
      -# %img.design-image{:src => @design.imagefilepath}
  .row
    .col-md-4.col-md-push-2
      .form-group
        %select.form-control.controls
          %option{:value => "1"} Controls
          %option{:value => "2"} Controls2
          %option{:value => "3"} Controls3
      .form-group.print
        %input.form-control{:type => "button", :value => "Print"}
    .col-md-4.col-md-push-2
      .form-group
        %select.form-control.settings
          %option{:value => "1"} Settings
          %option{:value => "2"} Settings2
          %option{:value => "3"} Settings3
        -# Download path is @design.filepath
      .form-group
        %form{:method => "get", :action => @design.filepath}
          %button.form-control.btn.btn-primary{:type => "submit"}
            Download
      .form-group
        %button.form-control.btn.btn-default
          License
      .form-group
        - if @bookmarked
          %button.form-control.btn.btn-default.bookmark-design{disabled: "disabled"}
            Purchased
        - else
          %button.form-control.btn.btn-default.bookmark-design
            Purchase 
:javascript
  $(document).ready(function(){
    if (!Detector.webgl) Detector.addGetWebGLMessage();
    var container, stats;
    var camera, cameraTarget, scene, renderer;
    init();
    animate();
    bind_bookmark_button();
  });
  function bind_bookmark_button () {
    $('button.bookmark-design').click(function(){
      $.ajax({
        type: 'POST',
        url: '#{d_bookmark_path}',
        data: { design_id: '#{@design.id}'}
      })
      .done(function() {
        $('button.bookmark-design').html('Purchased');
        $('button.bookmark-design').prop('disabled',true);
      });
    });
  }
