%header
  The 3D-Marketplace
%div.main
  %div.login_box
    %form.login_form
      %div.heading
        Welcome to the 3D-Marketplace
      %div.error
      %div.content
        %div.content_row
          %div.content_value
            %input.username{"type"=>"text", "name"=>"username","placeholder"=>"username"}
        %div.content_row
          %div.content_value
            %input.password{"type"=>"password", "name"=>"password","placeholder"=>"password"}
      %div.buttons
        %input{"type"=>"submit", "value"=>"Log In!"}
%div.footer
  face
      
    
