-# HTML 5 meta tag
!!! 5
%html
  %head
    %title
      The3DMarket
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
    %ul.heading_bar
      %li
        %logo
          %img(src="http://www.placekitten.com/100/30")
      %li
        Browse
      %li
        Create
      %li
        Upload
      %li
        %div.search
          %input
      %li
        Join/Sign In
    = yield
    %footer
    %logo
    %ul
      %li
        %ul
          %li.header
            About Us
          %li
      %li
        %ul
          %li
            Contact Us
      %li
        %ul
          %li
            Stuff
